*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --verde_platzi: #0AE98A;
    --azul_platzi: #13161C;
    --violeta_platzi: #6750A4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--verde_platzi);
    display: flexbox;
    align-content: center;
}
nav {
    background-color: var(--violeta_platzi);
}
nav li{
    list-style: none;
    padding: 4px
}
a{
    text-decoration: none;
    color: var(--verde_platzi);
}
nav ul {
    display: flex;
}
.profile-photo {
    width: 160px ;
    height: 160px;
}
.contact-form-container {
    background: #fff;
    align-content: center;
    min-width: 300px;
    max-width: 55%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--verde_platzi);
}
