*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --verde_platzi: #0AE98A;
    --azul_platzi: #13161C;
    --violeta_platzi: #6750a4;
    --violeta-opacity: rgba(103, 80, 164, 0.2
);

}

body {
    font-family: Arial, sans-serif;
    background-color: var(--azul_platzi);
    display: flexbox;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    height: auto;
    padding: 0 auto;
    display: flexbox;

}
nav{
    min-width: 320px;
    max-width: 600px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 56px;
    display: flex;
    justify-content: center;
    background: var(--violeta-opacity);
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 5px 5px;
}
nav ul {
    width: auto;
    height: auto;
    display: flex;
    margin: 10px 10px;
    
}
nav li{
    list-style: none;
    padding: 4px
}
a{
    text-decoration: none;
    color: var(--verde_platzi);
}
.profile-photo {
    width: 160px ;
    height: 160px;
    margin-top: 48px;
    position: absolute;
    border: 5px;
    border-style:solid;
    border-radius: 100%;
    border-color: var(--verde_platzi);
    display: flex;
    justify-content: center;
    align-items: center;
}
#photo{
    width: 135px;
    height: 135px;
    border-radius: 100%;
    background-image: url('/assets/IMG_20201223_133340_078.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.presentation{
    width: 100%;
    height: auto;
    margin: 16px 16px 16px 16px;
}
h1{
    margin: 8px;
    padding: 8px;
}
h2{
    margin: 8px;
    padding: 8px;
}
.presentation p {
    min-width: 230px;
    max-width: 380px;
    color: var(--verde_platzi);
    margin: 8px;
}
.presentation button {
    margin: 8px;
    padding: 4px;
}
.contact-form-container {
    background: var(--violeta_platzi);
    margin: 0 auto;
    min-width: 300px;
    max-width: 55%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skills{
    width: 100%;
    height: auto;
    background-color: var(--verde_platzi);
    padding: 8px
}

.content-certifications{
    width: ;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.card-certification{
    width: 100px;
    height: 100px;
    display: flexbox;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-color: var(--azul_platzi);
    border-radius: 5px;
    margin: 4px;
}
.titlecard-certification{
    width: 80px;
    height: 64px;
    font-size: 10px;
    color: var(--azul_platzi);
    margin: auto;
}
.tecnologiescard-certification{
    width: 80px;
    height: auto;
    border-top: dashed var(--azul_platzi);
    margin: auto;
}
.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--verde_platzi);
}
