*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --verde_platzi: #0AE98A;
    --azul_platzi: #13161C;
    --violeta_platzi: #6750A4;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--azul_platzi);
    display: flexbox;
    justify-content: center;
    align-items: center;
}
header{
    margin: 0 16px 16px 16px;
    display: flexbox;

}
nav {
    background-color: var(--violeta_platzi);
    padding: 8px 8px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    list-style: none;
    padding: 4px
}
a{
    text-decoration: none;
    color: var(--verde_platzi);
}
nav ul {
    display: flex;
}
.banner{
    height: 132px;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
    background: rgba(var(--violeta_platzi), 0.5);
    border-radius: 0 0 15px 15px;
    box-shadow: 5px 5px 5px;
}
.profile-photo {
    width: 160px ;
    height: 160px;
    margin-top: 16px;
    position: absolute;
    border: 5px;
    border-style:solid;
    border-radius: 100%;
    border-color: var(--verde_platzi);
    display: flex;
    justify-content: center;
    align-items: center;
}
#photo{
    width: 135px;
    height: 135px;
    border-radius: 100%;
    background-image: url('/assets/IMG_20201223_133340_078.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}
.contact-form-container {
    background: var(--violeta_platzi);
    margin: 0 auto;
    min-width: 300px;
    max-width: 55%;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--verde_platzi);
}
